<footer class="footer">
    <div class="flex-container">
        <h3>York County School of Technology</h3>
        <p>
            2179 S. Queen St, York, PA 17402<br>
            Phone: (717)-741-0820<br>
            Fax: (717)-741-0694<br>
            <a href="https://www.ytech.edu/about/non_discrimination_statement">NON DISCRIMINATION STATEMENT</a>
        </p>
    </div>

    <div class="flex-container">
        <a href="https://twitter.com/YTSpartanNation" class="login-button" style="text-align:right">
        <img border="0" alt="facebook" src="/imgs/twitter.png" width="75" height="75">
        </a>
        <a href="https://www.instagram.com/ycst_spartans_/" class="login-button" style="text-align:right">
        <img border="0" alt="facebook" src="/imgs/instagram.png" width="75" height="75">
        </a>
        <a href="https://www.facebook.com/pages/York-Tech-Home-of-the-Spartan-Nation/146622748744410" class="login-button" style="text-align:right">
        <img border="0" alt="facebook" src="/imgs/facebook.png" width="75" height="75">
        </a>
    </div>
    <link rel="stylesheet" type="text/css" href="styles.css">
</footer>
