<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header-container">
            <div>
                <img class="header-img" src="imgs\Spart.png" alt="">
                <h1 class="header-h1">York County School Of Technology</h1>
            </div>

            <div class="header-links">
                <a href="https://skyward.iscorp.com/YorkTechPAStuSTS/Session/" style="color: black;">Skyward</a> <br>
                <a href="https://schoology.ytech.edu/home" style="color: Black;">Schoology</a>
            </div>
        </div>
        <div class="header-pages">
            <a href="/" class="header-page">Home</a>
            <a href="/mediaCenter" class="header-page">Media Center</a>
            <a href="/parents" class="header-page">Parents And Caregivers</a>
            <a href="/athletics" class="header-page">Spartan Athletics</a>
            <a href="/test" class="header-page">Test</a>





        </div>

        <script>
        let headerLinks = document.getElementsByClassName('header-page')
        let winWidth = window.innerWidth
        console.log(headerLinks.length)

        for (let i = 0; i < headerLinks.length; i++) {
            const links = headerLinks[i];

            if (i != headerLinks.length - 1) {
                links.setAttribute("style", `padding-left: ${(winWidth / headerLinks.length) / 3}px; padding-right: ${(winWidth / headerLinks.length) / 3}px; border-left: 1px solid; color: #fff;`)
                console.log((winWidth / headerLinks.length) / 2)   
            } else if (i == headerLinks.length - 1) {
                links.setAttribute("style", `padding-left: ${(winWidth / headerLinks.length) / 3}px; padding-right: ${(winWidth / headerLinks.length) / 3}px; border-left: 1px solid; border-right: 1px solid; color: #fff;`)
                console.log((winWidth / headerLinks.length) / 2)  
            }


                     
        }
        </script>
    </body>
</html>
