<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="header-container">
            <div>
                <img class="header-img" src="imgs\Spart.png" alt="">
                <h1 class="header-h1">York County School Of Technology</h1>
            </div>

            <div class="header-links">
                <a href="https://skyward.iscorp.com/YorkTechPAStuSTS/Session/" style="color: black;">Skyward</a> <br>
                <a href="https://schoology.ytech.edu/home" style="color: Black;">Schoology</a>
            </div>
        </div>
        <div class="header-pages">

            <a href="/" style="color: black; padding-left: 10px; padding-right: 10px; border-left: 1px solid; color: #fff;">Home</a>
            <a href="/mc" style="color: black; padding-left: 10px; padding-right: 10px; border-left: 1px solid; color: #fff;">Media Center</a>
            <a href="/parents" style="color: black; padding-left: 10px; padding-right: 10px; border-left: 1px solid; border-right: 1px solid; color: #fff;">Parents And Caregivers</a>
            <a href="/" style="color: black;">Home </a>
            <a href="/mediaCenter" style="color: black; margin: 20px;">Media Center</a>
            <a href="/parents" style="color: black;">Parents And Caregivers</a>

        </div>
    </body>
</html>
