<header class="header">
    <head>
        <link rel="stylesheet" href="styles.css">
        <style>
            @font-face {
            font-family: 'Autumn Thin';
            src: url('/fonts/Raleway-Regular.ttf') format('truetype');
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <!-- this is where the actual York County header is and the logo -->
    <body>
        <div class="header-container">
            <div class="header-title">
                <a href="/"><input type="image" class="header-img" src="imgs\Spart.png"> </a>
                <h1 class="header-h1">York County School Of Technology</h1>
            </div>
            <!-- these are clickable thinks that take you to other sites -->
            <div class="header-links">
                <a href="https://skyward.iscorp.com/YorkTechPAStuSTS/Session/" style="color: white;">Skyward</a> <br>
                <a href="https://schoology.ytech.edu/home" style="color: white;">Schoology</a>
                <br>
                <a href="/2022-23Calendar.pdf" style="color:white ;">Calender</a>

            </div>
            <!-- all the buttons om the mainpage that take you to the other pages -->
        </div>
        <div class="header-pages">
            <a href="/" class="header-page">Home</a>
            <a href="/parents" class="header-page">Parents And Caregivers</a>
            <a href="/sports" class="header-page">Sports</a>
            <a href="/career" class="header-page">Career Programs</a>
            <a href="/districts" class="header-page">District Map</a>


        </div>

    </body>

    <script></script>
</header>
