<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <%- include('partials/_header') -%>
    <title>Athletics Home</title>
</head>
<body>
    


<center>


    <div class="general">
        <div class="spartanAthletics">
            <u><h1>Spartan Athletics</h1></u>
            <p>Athletic Director: Rob Caruso</p>
            <p>Assistant Athletic Director: Open</p>
        </div>
    
        <div class="specialAnnouncements">
            <u><h1>Special Announcements</h1></u>
        </div>
       
    
        <div class="schedules">
            <u><h1>Daily Sports Schedules</h1></u>
            <a href="https://ytechspartans.bigteams.com/main/calendar">Calander</a>
        </div>
    
        <div class="prices">
            <u><h1>Event Admission Prices</h1></u>
    
            <h3>Varsity:</h3>
            <p>Adults: $4.00</p>
            <p>Students (K-12) $2.00</p>
    
            <h3>Freshman:</h3>
            <p>Adults: $2.00</p>
            <p>Students (K-12) $1.00</p>
            
            <h3>All Contestants:</h3>
            <p>Senior Citizen $2.00</p>
        </div>
    </div>





    







</center>




<%- include('partials/_footer') -%>
</body>
</html>