<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<%- include('partials/_header') -%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Programs</title>
</head>
<body>
<center>
    <div class="Career_welcome">
    <h1>Welcome to York Techs Career Options</h1>
    </div>
</center>
<center>
    <p id="Career_welcome_opening">
        York County School of Technology, located at 2179 S. Queen Street (just off Interstate 83 at exit 16A in South-Central Pennsylvania and situated about 30 miles south of Harrisburg)
        <br>
         in York County, offers educational opportunities where every high school student is guided and encouraged to reach his or her full potential.
        <br>
        High expectations are established for all students and our technical programs offer a well-rounded curriculum for students. 
        <br>
         We are proud of the variety of educational opportunities we offer our students to learn and excel.   
    </p>
</center>
<center>
<div class="list_of_options">
<h3>Information Technology</h3>
<li><a href="/Hardware">Electronics/IT Support</a></li>
<li><a href="/Programming">Computer Programming</a></li>
<li><a href="/Networking">Networking and Cyber Security</a></li>
<li><a href="/Software">Information System Management</a></li>
<li><a href="/Culinary">Culinary Arts</a></li>
<li><a href="/Architecture">Architecture</a></li>
<li><a href="/Automotive">Automotive</a></li>
<li><a href="/Carpentry">Carpentry</a></li>
<li><a href="/Collision">Collision Repair</a></li>
<li><a href="/Commercial">Commercial & Advertising Art</a></li>
<li><a href="/Communications">Communications Technology</a></li>
<li><a href="/Criminal">Criminal Justice</a></li>
<li><a href="/Dental">Dental Assisting</a></li>
<li><a href="/Diesel">Diesel Technology</a></li>
<li><a href="/Childhood">Early Childhood Education</a></li>
<li><a href="/Electrical">Electrical Occupations</a></li>
<li><a href="/Engineering">Engineering/Advanced Manufacturing</a></li>
<li><a href="/HVAC">Heating, Ventilation & Air Conditioning/Plumbing</a></li>
<li><a href="/Landscaping">Landscaping & Agriculture</a></li>
<li><a href="/Cosmetology">Licensed Cosmetology</a></li>
<li><a href="/Medical">Medical Professions Program</a></li>
<li><a href="/Powersports">PowerSports & Engine Technology</a></li>
<li><a href="/Precisionmachining">Precision Machining Technology</a></li>
<li><a href="/Sports">Sports Technology & Exercise Science</a></li>
<li><a href="/Welding">Welding & Metal Fabrication Technology</a></li>

</div>
</center>
</body>
<%- include('partials/_footer') -%>
</html>


