<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<%- include('partials/_header') -%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Technology</title>
</head>
<body>
    <center>
        <div class="Welcome">
        <h1>Computer Programming</h1>
        </div>
    </center>

<center>
<div class="it_video">
<video width="1000px" height="800px" controls="controls"/>
<source src="/videos/mr_saia.mp4" type="video/mp4">
</video>
</div>
</center>

<center>
    <div class="four_it_shops">
    <h1>The Four Programs Are:</h1>
    <p id="four_it_shopsinfo">
        Computer Programming & Interactive Media
        <br>
        Computer Networking & Cyber Security
        <br>
        Information Systems Management
        <br>
        Electronics & IT Support
    </p>
    </div> 
</center>
<center>
    <p id="moreit_info">
        Computer Programming students are given an opportunity to explore the Oracle Academy 
        <br>
        curriculum, as well as a host of other programming languages.  In the Oracle Academy, students
        <br> 
        will begin with a study of data modeling and data analysis, followed by SQL (Structured Query Language)
        <br> 
        in preparation for an Oracle entry-level certification.  The Oracle Academy allows students to control
        <br>
         the internet by creating interactive web page designs that access a database for data handling and manipulation.
         <br>
        Students have the opportunity to enter international competitions through the Oracle Academy.
        <br>
        Students will gain competencies in computer programming languages, intense database analysis and design, advanced web page development, and computer-based presentations.
</p>
</center>
</body>
<%- include('partials/_footer') -%>
</html>


