<!DOCTYPE html>
<html lang="en">
<%- include('partials/_header') -%>
<link rel="stylesheet" href="styles.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Participating Districts</title>
</head>
<body>
<center>
    <div class="text-container"><h1>Participating School Districts</h1></div>

    <div class="text-container">

    <p>page content goes here</p>

    </div>
</center>
</body>
<%- include('partials/_footer') -%>
</html>