<!DOCTYPE html>
<html lang="en">
<%- include('partials/_header') -%>
<link rel="stylesheet" href="styles.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Participating Districts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 800px;"></div>
    <script>
        var map = L.map('map').setView([39.9601662,-76.717791], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Add the GeoJSON layer to the map
        var geojson = <%- JSON.stringify(geojson) %>;
        L.geoJSON(geojson, {
          style: function(feature) {
              return {
                  color: '#095540', // red outline
                  weight: 3 // 3-pixel outline width
              };
          }
        }).addTo(map);
    </script>
</body>
<%- include('partials/_footer') -%>
</html>
