<html>
    <%- include('partials/_header') -%>
    <link rel="stylesheet" href="home.css">
    
    <head></head>
    <body>
        <div class="whyUs">
            <h3>Why York Tech?</h3>
        </div>

        <div class="mainInfo">
            <h3>Information</h3>
        </div>



        <div class="mainButtons"></div>

        <div class="announcements">
            <h3>Announcements</h3>
          
        </div>


        <center>
            <div class="quickLinks">
                <h3>Quick Links</h3>
                <a href="https://skyward.iscorp.com/YorkTechPAStuSTS/Session/">Skyward</a>
                <br>
                <a href="https://schoology.ytech.edu/login/ldap?destination=home&school=281446774">Schoology</a>
                <br>
                <a href="">Office 365 (NO CURRENT LINK)</a>
                <br>
                <a href="https://drive.google.com">Google Drive</a>
            </div>
        </center>
      
       

    </body>

    <%- include('partials/_footer') -%>
</html>