<html>
    <%- include('partials/_header') -%>
    <!--<link rel="stylesheet" href="home.css">-->
    <link rel="stylesheet" href="styles.css">
    <head>

        <title>York County School of Technology</title>

    </head>
    <body>

        <center>
            <div class="whyUs">
                <u><h3>Why York Tech?</h3></u>
                <p>Why York Tech? Here we teach our students how to be career ready and how to be proffessional.</p>
                <p>When our students leave York Tech, they are ready to take on the workforce headon and be prepared for what comes ahead of them. </p>
            </div>
      
       



        <div class="mainInfo">
            <u><h3>Information</h3></u>
            <p>2022-23 School Year Calender</p>
            <p>Free and Reduced Lunch</p>
            <p>Comcast Internet for Your Home</p>
            <p>Tech Gear Online Store</p>


            

        </div>




        <div class="announcements">
            <u><h3>Announcements</h3></u>
            <a href="https://drive.google.com/file/d/1co_0aW1KTrQDb7td5nc4LJpPeQ3T1lHT/preview">Parent Teacher Conferences</a>
            <br>
            <a href="https://drive.google.com/file/d/1L2iEb9atNsXSZaN_yxu0dTfggvWkIAR6/preview">Career Camp: Summer 23</a>
            <br>
            <a href="https://enewspaper.makemynewspaper.com/03582eb5f49716/2022-12-05-o-#.Y-PEWK3MKUk">York Tech Times</a>

        </div>



            <div class="quickLinks">
                <u><h3>Quick Links</h3></u>
                <a href="https://skyward.iscorp.com/YorkTechPAStuSTS/Session/">Skyward</a>
                <br>
                <a href="https://schoology.ytech.edu/login/ldap?destination=home&school=281446774">Schoology</a>
                <br>
                <a href="https://www.office.com/">Office 365</a>
                <br>
                <a href="https://drive.google.com">Google Drive</a>
            </div>
        </center>
  
            
    
      

       

    </body>
    <%- include('partials/_footer') -%>
</html>