<html>
    <%- include('partials/_header') -%>
    <link rel="stylesheet" href="home.css">
    <head>
        
    </head>
    <body>


        <center>
            <div class="whyUs">
                <u><h3>Why York Tech?</h3></u>
                <p>spartan strong</p>
            </div>
        </center>
       



        <div class="mainInfo">
            <u><h3>Information</h3></u>
            <p>lorem ipsum</p>
            <p>scree scree scree scree scree screescree scree screescreescree screescree</p>
        </div>




        <div class="announcements">
            <u><h3>Announcements</h3></u>
            <p>test</p>
            <p>test 2</p>
            <p>test 3</p>

        </div>


        <center>
            <div class="quickLinks">
                <h3>Quick Links</h3>
                <a href="https://skyward.iscorp.com/YorkTechPAStuSTS/Session/">Skyward</a>
                <br>
                <a href="https://schoology.ytech.edu/login/ldap?destination=home&school=281446774">Schoology</a>
                <br>
                <a href="">Office 365 (NO CURRENT LINK)</a>
                <br>
                <a href="https://drive.google.com">Google Drive</a>
            </div>
        </center>
      

       

    </body>
    <%- include('partials/_footer') -%>
</html>