<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>York County School of Technology | Home</title>
  </head>
  <body>


    <center>Spartan Mission</center>
    <center></center>
    <center>Spartan Values</center>


  </body>
</html>
