<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<%- include('partials/_header') -%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Technology</title>
</head>
<body>
    <center>
        <div class="Welcome">
        <h1>Electronics/IT Support</h1>
        </div>
    </center>

<center>
<div class="it_video">
<video width="1000px" height="800px" controls="controls"/>
<source src="/videos/mr_saia.mp4" type="video/mp4">
</video>
</div>
</center>

<center>
    <div class="four_it_shops">
    <h1>The Four Programs Are:</h1>
    <p id="four_it_shopsinfo">
        Computer Programming & Interactive Media
        <br>
        Computer Networking & Cyber Security
        <br>
        Information Systems Management
        <br>
        Electronics & IT Support
    </p>
    </div> 
</center>
<center>
    <div class="whatwillilearn_it">
    <h1>What Will I learn?</h1>
    <p id="whatwillilearn_itinfo">
        Personal & Environmental Safety
        <br>
        Computing Fundamentals
        <br>
        Computer Software
        <br>
        Demonstrate Internet Applications
        <br>
        Digital Electronics
        <br>
        Computer Hardware
        <br>
        Operating Systems
        <br>
        Logic Circuits
        <br>
        Networking
        <br>
        Security
        <br>
        Customer Service
    </p>
    </div>
</center>
<center>
    <p id="moreit_info">
    Support for personal computers and mobile devices has evolved into one of the largest service industries in the world. This program is designed to prepare students to help maintain, support, and upgrade PC’s and mobile devices.
     <br>
      In order to be a marketable computer support technician, you need to learn how the components of a computer work with the operating system software so you can apply that knowledge in troubleshooting a faulty computer system.
      <br>
    Acquire the knowledge and hands-on skills to become an IT technician. Perform repairs and upgrades to hardware, software, and other IT related devices.
<br> 
 Learn more about electronics and how circuits make IT equipment function. Maintain and troubleshoot computers so they operate effectively and are virus free.
</p>
</center>
</body>
<%- include('partials/_footer') -%>
</html>


