<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<%- include('partials/_header') -%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Technology</title>
</head>
<body>
    <center>
        <div class="Welcome">
        <h1>Networking and Cyber Security</h1>
        </div>
    </center>

<center>
<div class="it_video">
<video width="1000px" height="800px" controls="controls"/>
<source src="/videos/mr_saia.mp4" type="video/mp4">
</video>
</div>
</center>

<center>
    <div class="four_it_shops">
    <h1>The Four Programs Are:</h1>
    <p id="four_it_shopsinfo">
        Computer Programming & Interactive Media
        <br>
        Computer Networking & Cyber Security
        <br>
        Information Systems Management
        <br>
        Electronics & IT Support
    </p>
    </div> 
</center>
<center>
    <p id="moreit_info">
        Students enrolled in the Network Engineering Technology program will study official CISCO
        <br>
        curricula covering the CISCO Routing Internet Operating System.  Students will pursue their certification
        <br>
        as a CISCO Certified Network Associate (CCNA). Network engineering covers subjects such as designing,
        <br>
        installing, and configuring world-wide computer networks, computer network wiring, network security,
        <br>
        network management, network connections to the internet, network protocols, web page hosting, installing
        <br>
        and configuring Desktop Operating Systems and installation and distribution of software applications across the network.
        <br>
        Students can also cross train between Computer Network Engineering Technology and Computer Technology to pursue a Microsoft Certified Product Specialist
        <br>
         in various Microsoft Network and Desktop Operating Systems and software applications.
</p>
</center>
</body>
<%- include('partials/_footer') -%>
</html>


