<html>
    <%- include('partials/_header') -%>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width"/>
<head>
    <title>York County School of Technology</title>
</head>
    <body>
        <div class="home-container">
            <center>
                <div class="video-background">
                    <div id="video">
                        <video autoplay muted loop preload playsinline>
                            <!-- <source src="/videos/videoName.mp4" type="video/mp4"> -->
                            <source src="/videos/background.mp4" type="video/mp4">
                        </video>
                    </div>

                    <!-- place div layers below -->

                    <div>
                        
                    </div>

                    <!-- place div layers above -->
                </div>

            </center>

        </div>

    </body>

    <%- include('partials/_footer') -%>

</html>