<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') -%>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
           
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Parents and Caregivers</title>
    </head>

    <body>
        <center>
            <!-- this is the page where parents can find information regarding the school and their child attending -->
            <div class="Parents">
                <h1>Welcome Parents and Caregivers</h1>

                <h2>What information can I access?</h1>
                    <!-- This is what you can access -->
                    <p id="InfoIAccess">
                        Mandatory form completion: Demographics, Acceptable Use Policy, Health Form, Student Handbook
                        Sign off
                        <br>
                        Absence Reporting: You can submit and view absence requests
                        <br>
                        Fees: You can view fees and payments
                        <br>
                        Food Service: Allows you to see transactions and make payments towards your student’s lunch
                        account.
                        <br>
                        Grades: Both academic history and current
                        <br>
                        Health: You can view your student’s current conditions
                        <br>
                        Schedules: Your students daily courses
                        <br>
                        Staff Directory: Allows you to send emails to your student’s teachers
                        <br>
                        Transportation: You can view bus stop location and time of pick up
                    </p>

                <h2>Where do I access this information?</h2>
                <!-- This is how you access it -->
                    <p id="WhereDoIaccess">
                        By having a student already enrolled at York Tech you automatically have an account
                        Parents of a new student, you will use the same username and password that you created when
                        completing your student’s online application.
                        <br><a href="https://skyward.iscorp.com/YorkTechPAStuSTS/">ACCESS SKYWARD HERE</a><br>
                        If you do not know your username or password, please select the Forgot Username and Password
                        link. Then type in your email address and the information will be sent to your email shortly.
                    </p>

                <h2>How do I gain access?</h2>
                <!-- This is how you gain the access -->
                    <p id="HowDoIGainaccess">
                        Returning Parents and Caregivers:
                        <br>
                        Go to <a href="https://www.powerschool.com/classroom/schoology-learning/">Schoology</a> and use your existing login information
                        <br><br>
                        Parents and Caregivers of New Students:
                        <br>
                        Go to <a href="https://www.powerschool.com/classroom/schoology-learning/">Schoology</a>
                        <br>
                        Click Sign Up at the top of the page and choose Parent.
                        <br>
                        Enter your Parent Access Code -- Your Parent Code will be given to your student on New Student
                        Day.
                        <br>
                        Fill out the form with your information.
                        <br>
                        Click Register to complete.
                    </p>
            </div>
        </center>
    </body>
    <%- include('partials/_footer') -%>

</html>