<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Parents and Caregivers | York County School of Technology</title>
    <link rel="stylesheet" href="css/secondary.css">
  </head>
  <body>
         


    <h1>York County School of Technology</h1>

    <center>
      <h1>Parents/Caregivers Recources</h1>
      <h2>What Information Can I Access?</h2>
      <p>-Mandatory form completion: Demographics, Acceptable Use Policy, Health Form, Student Handbook Sign off</p>
      <p>-Absence Reporting:You can submit and view absence requests</p>
      <p>-Fees: You can view fees and payments</p>
      <p>-Food Service: Allows you to see transactions and make payments towards your student’s lunch account</p>
      <p>-Grades: Both academic history and current</p>
      <p>-Health: You can view your student’s current conditions</p>
      <p>Schedules: Your students daily courses</p>
      <p>-Staff Directory: Allows you to send emails to your student’s teachers</p>
      <p>-Transportation: You can view bus stop location and time of pick up </p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>

    
    
    
    
    
    
    
    
    
    
    </center>



    <form class="" action="/" method="get">
      <button type="submit" name="button">Home</button>
    </form>
    <br>

    <form class="" action="/parents" method="get">
      <button type="submit" class="button" name="button">Parents and Caregivers</button>
    </form>
    <br>

    <form class="" action="/senior_info" method="get">
      <button type="submit" class="button" name="button">Senior Class Information</button>
    </form>
    <br>

    <form class="" action="/attendance" method="get">
      <button type="submit" class="button" name="button">Student Attendance</button>
    </form>
    <br>

    <form class="" action="/media_center" method="get">
      <button type="submit" class="button" name="button">Media Center</button>
    </form>
    <br>

    <form class="" action="/athlete" method="get">
      <button type="submit" class="button" name="button">For Athletes</button>
    </form>
    <br>

    <form class="" action="/jobs" method="get">
      <button type="submit" class="button" name="button">Jobs Posting Center</button>
    </form>
    <br>

    <form class="" action="operating_comitee" method="get">
      <button type="submit" class="button" name="button">JOC Center</button>
    </form>
    <br>

    <form class="" action="/staff" method="get">
      <button type="submit" class="button" name="button">Staff Members</button>
    </form>
    <br>



  </body>
</html>
