<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/parents" method="get">
      <input type="submit" name="" value="For Parents and Caregivers">
    </form>


    <form class="" action="/senior_info" method="get">
      <input type="submit" name="" value="Senior Class Information">
    </form>


    <form class="" action="/attendance" method="get">
      <input type="submit" name="" value="Student Attendance">
    </form>


    <form class="" action="/media_center" method="get">
      <input type="submit" name="" value="Media Center">
    </form>

  </body>
</html>
