<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Senior Information | York County School of Technology</title>
    <link rel="stylesheet" href="css/secondary.css">
  </head>
  <h1>York County School of Technology</h1>
  <body>

<center>    
  <h2>Class Of 2023 Advisors</h2>
  <p>Jen Smith</p>
  <p>jensmith@ytech.edu</p>

  <h2>Class of 2023 Senior Photos</h2>
  <p>Rescheduled picture day is September 30. Five photographers on hand. Each student WILL recieve one free 8x10</p>
</center>








    <form class="" action="/" method="get">
      <button type="submit" name="button">Home</button>
    </form>
    <br>

    <form class="" action="/parents" method="get">
      <button type="submit" class="button" name="button">Parents and Caregivers</button>
    </form>
    <br>

    <form class="" action="/senior_info" method="get">
      <button type="submit" class="button" name="button">Senior Class Information</button>
    </form>
    <br>

    <form class="" action="/attendance" method="get">
      <button type="submit" class="button" name="button">Student Attendance</button>
    </form>
    <br>

    <form class="" action="/media_center" method="get">
      <button type="submit" class="button" name="button">Media Center</button>
    </form>
    <br>

    <form class="" action="/athlete" method="get">
      <button type="submit" class="button" name="button">For Athletes</button>
    </form>
    <br>

    <form class="" action="/jobs" method="get">
      <button type="submit" class="button" name="button">Jobs Posting Center</button>
    </form>
    <br>

    <form class="" action="operating_comitee" method="get">
      <button type="submit" class="button" name="button">JOC Center</button>
    </form>
    <br>

    <form class="" action="/staff" method="get">
      <button type="submit" class="button" name="button">Staff Members</button>
    </form>
    <br>
  </body>
</html>
