<!DOCTYPE html>
<html lang="en">
<%- include('partials/_header') -%>
<link rel="stylesheet" href="styles.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Template</title>
</head>
<body>

    <div class="left-container">
        <h1>i love mr smith</h1>
    </div>
    <div class="right-container">
        <h1>csmith@ilovehotmen.com</h1>
    </div>
    <div class="middle-container">
        <h1>mr smith is love mr smith is life</h1>
        
    </div>
</body>
<%- include('partials/_footer') -%>
</html>