body {
    background-color: #009645;

}

button {
  position: relative; bottom: 0px;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  height: 100px;
}

h1 {
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-length: 10px;
  width: 500px;
}

h2 {
  position: relative; right: -1200px;
}



p {
  border: solid;
  width: 150px;
  height: 50px;
  display: inline;
  position: relative; bottom:-175px;
}

.mainInfo {
  float: right;
  position: relative; top: -1200px;
}
