body {
    background-color: #009645;
    York County School of Technology
}

button {
  position: relative; bottom: 0px;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px;
  width: 100px;
  height: 50px;
}

h1 {
  color: white;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-length: 10px;
  width: 500px;
}
