h1 {
    float : left;
    border: 3px;
    margin-top: 40px;
    margin-left: 15px;
}

.info {
    border-style: solid;
    border-radius: 5px;
    border-color: #009645;
    float:right;
    padding: 30px;
    margin: 30px;
    width: 250px;
}

.mainButtons{
    float: left;
    margin-top: 200px;
    margin-right: 1300px;
}

.submitButton{
    text-align: center;
    width: 100px;
    border-radius: 25px;
    border: none;
    background-color:  #009645;
    
}





img {
    float: left
}

