<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%- include('_header') %>
  <nav>
    <ul>
    </ul>
  </nav>
  <%- include('_footer') %>
</body>
</html>
