button {
    width: 150px;
    height: 50px;
    background-color: #009645;
    border: none;
    border-radius: 5px;
}
.mainButtons {
    margin-top: 100px;
    
}
button:hover{
    background-color: #01ca5f;
}





.mission {
    border: 3px;
    border-style: solid;
    border-color: #009645;
    border-radius: 5px;

    width: 650px;
    text-align: center;

    margin-top: -400;
}



.mainInfo {
    width: 250px;

    border: 3px;
    border-style: solid;
    border-color: #009645;
    border-radius: 5px;

    float: right;
    margin-top: -800px;
    text-align: center;
}

.quickLinks {
    float: right;
    margin-top: -550px;
    text-align:center;
    width: 250px;

    border: 3px;
    border-style: solid;
    border-color: #009645;
    border-radius: 5px;
}



