body {
    margin: 0;
}

.Welcome {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
}
.infoiaccess {
width: 700px;
text-align: center;
font-size: large;
}

.wheredoiaccess {
width: 700px;
text-align: center;
font-size: large;
}

.gainaccess {
    width: 700px;
    text-align: center;
    font-size: large;
}

.four_it_shops {
    width: 700px;
    text-align: center;
    font-size: large;
}

.whatwillilearn_it {
    width: 700px;
    text-align: center;
    font-size: large;
}

.list_of_options {
    font-size: large;
}

.list_of_options.p{
    text-align: left;
}

.Career_welcome {
text-decoration: underline;
font-size: x-large;
}

#Career_welcome_opening {
    font-size: large;
}

#moreit_info {
    font-size: large;
}

#four_it_shops {
    font-size: medium;
    
}

#gainaccessinfo {
font-size: medium;
}

#wheredoiaccessinfo {
font-size: medium;
}

#infoiaccessinfo {
    font-size: medium;
}

/*template styles*/
.text-container{
    font-family: helvetica;
}
.text-container video {
    width: 80%
}


@media (max-width: 650px) {
    .text-container video {
        width: 100%
    }
}

/* header Styles */
.header-container {
    background-color: #00953b;
    padding-bottom: 150px;

    
    padding-top:1px;
    padding-left: 10px;
    
}

.header-img {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}



.header-links {
    text-align: right;
    float: right;
    position: absolute;
    top: 15px;
    right: 15px;
    
}

.header-h1 {
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    padding-top: 20px;
}







a:link {
    background-color: transparent; 
    text-decoration: none;
}

a:hover {
    background-color: #095540;
    text-decoration: underline;
}

a:visited {
    background-color: transparent;
    text-decoration: underline;
}

.header-pages {
    background-color: #333333;
    text-align: center;
    
    
}


/* Footer Styles */
footer {
    display: flex;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    flex-direction: row;
    flex: 1; /* This will make the text-container take up all the available space */
    font-family: helvetica;
}

/* that one single hyperlink in the footer */
footer a {
    background-color: #333333;
    color: #ffffff;
}

.flex-container {
    box-sizing: border-box;
    flex-direction: row;

    width: 300px;
    margin:auto;
    clear: both;
    display: table;
    text-align:center;
}

@media (max-width: 650px) {
footer {
    flex-direction: column;
}

    
  }

  @media (max-width: 646px) {
    .header-h1 {
        padding-top: 10px;
        margin-top: 20px;
        margin-left: 7px;
        font-size: 3vw;

    }
    .header-img {
        padding-top: 5px;
        padding-right: 5px;
        width: 11vw;
    }
    .header-container {
        padding-bottom: 75px;
        padding-top: .5px;
        padding-left: 5px;
    }
  }

/* main page */
.whyUs {
    border: 3px;
    border-color: #00953B;
    background-color: #00953B;
    width: 600;

    float: left;
    color: white;
    text-shadow: black 0px 0px 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;

    height: 250px;
}


.announcements {
    border: 3px;
    border-color: #00953B;
    background-color: #00953B;
    width: 600;

    color: white;
    text-shadow: black 0px 0px 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
    margin-bottom: 300px;

}


.quickLinks {
    border: 3px;
    border-color: #00953B;
    background-color: #00953B;
    width: 600;

    color: white;
    text-shadow: black 0px 0px 3px;
    font-family: Arial, Helvetica, sans-serif;

    
    padding: 10px;
    margin: 10px;
    

}

.mainInfo {
    border: 3px;
    border-color: #00953B;
    background-color: #00953B;
    width: 600;

    float: right;
    color: white;
    text-shadow: black 0px 0px 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;

    height: 250px;

}   




/* athletics home page */
.general {
    
}
