a {
    color: blue;
    z-index: 200;
}

body {
    margin: 0;
}

.Parents {
    text-align: center;
    font-size: large;
    width:65%;
}

.four_it_shops {
    width: 700px;
    text-align: center;
    font-size: large;
}

.whatwillilearn_it {
    width: 700px;
    text-align: center;
    font-size: large;
}

.list_of_options {
    font-size: large;
}

.list_of_options.p{
    text-align: left;
}

.Career_welcome {
text-decoration: underline;
font-size: x-large;
}

#Career_welcome_opening {
    font-size: large;
}

#moreit_info {
    font-size: large;
}

#four_it_shops {
    font-size: medium;
    
}

#InfoIAccess {
    text-align: center;
}

#WhereDoIaccess {
    text-align: center;
}

@media (max-width: 650px) {
    .text-container  {
        width: 100%
    }
}

/*template styles*/
.text-container{
    font-family: helvetica;
}
.text-container video {
    width: 80%
}

@media (max-width: 650px) {
    .Parents {
        text-align: center;
        font-size: large;
        width:95%;
    }
    
    .four_it_shops {
        width: 700px;
        text-align: center;
        font-size: large;
    }
    
    .whatwillilearn_it {
        width: 700px;
        text-align: center;
        font-size: large;
    }
    
    .list_of_options {
        font-size: large;
    }
    
    .list_of_options.p{
        text-align: left;
    }
    
    .Career_welcome {
    text-decoration: underline;
    font-size: x-large;
    }
}

/* header Styles */

.header-container {
    background-color: #333333;
    font-family: "Autumn Thin";
    padding-bottom: 150px;
    padding-top:1px;
    padding-left: 10px;
    
}

.header-h1 {
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    padding-top: 20px;
    color:white;
    font-family: "Autumn Thin";
}

.header-img {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}

.header-links {
    text-align: right;
    float: right;
    position: absolute;
    top: 15px;
    right: 15px;
}

a:link {
    background-color: transparent; 
    text-decoration: none;
    z-index: 200;
}

a:hover {

    background-color: #aaaaaa;

    text-decoration: underline;
}

a:visited {
    background-color: transparent;
    text-decoration: underline;
}

.header-pages {
    background-color: #095540;
    font-family: "Autumn Thin";
    font-size: larger;
    display: flex;
    text-align: center;
    line-height: 50px; 
} 

.header-pages a {
    border-left: 1px solid;
    color: #fff; 
    flex-direction: row;
    flex: 1 1 0;
}

/* Footer Styles */
footer {
    display: flex;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    flex-direction: row;
    flex: 1; /* This will make the text-container take up all the available space */
    font-family: helvetica;
}

/* that one single hyperlink in the footer */
footer a {
    background-color: #333333;
    color: #ffffff;
}

.flex-container {
    box-sizing: border-box;
    flex-direction: row;

    width: 300px;
    margin:auto;
    clear: both;
    display: table;
    text-align:center;
}

/* Footer Mobile Optimization */
@media (max-width: 650px) {
    footer {
      flex-direction: column;
    }
  }

/* Header Mobile Optimization */
  @media (max-width: 650px) {
    .header-h1 {
        padding-top: 10px;
        margin-top: 0px;
        margin-left: 7px;
        margin-bottom: -10px;
        
        text-align: center;
    }
    .header-img {
        padding-top: 5px;
        padding-right: 5px;
        width: 25vw;
    }
    .header-container {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 5px;
    }

    .header-title {
        display: flex;
        flex-direction: column;
    }
    .header-title a {
        margin-left: auto;
        margin-right: auto;
    }

    .header-pages {
        flex-direction: column;
    }

    .header-page {
        border-bottom: 10px solid #fff;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .header-links {
        font-size: 75%;
    }

  }

/* main page*/ 

* {
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, sans-serif;
  }

  .mySlides {
    display: none;
    height: x;
  }
  /*Images... duh*/
  img {
    vertical-align: middle;
  }

  /*Container with slides*/
  .slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    left: 750px;
  }


  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border-style: groove;
    background-color: #1b1b1b;
  }


  .next {
    right: 750px;
    border-radius: 3px 0 0 3px;
  }


  .prev {
    left: 45px;
    border-radius: 3px 0 0 3px;
  }

  /* Show effects when hovering over dot or arrow */
  .active,
  .dot:hover {
    background-color: #004d0a;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

    /* Dots under slides */
   .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    left: 1070px;
  }

  .active {
    background-color: #1b1b1b;
  }

  .fade {
    animation-name: fade;
    animation-duration: 10.0s;
  }

  @keyframes fade {
    from {
      opacity: .8
    }

    to {
      opacity: 1
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px
    }
  }
/* end slideshow css */

/*District Map CSS*/

/* Shop CSV template */
.text-container{
    font-family: helvetica;
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.text-container video {
    width: 100%
}

@media (max-width: 650px) {
    .text-container {
        width: 100%;
    }
}


/* background video css */
.video-container { 

    position: relative;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    width: 100%;  /* edit this percentage value to change the width of the video on the page */
    height: 90%; /* edit this percentage value to change the height of the video on the page */

    background-color: #bebebe;
    font-size: 20;
    color: gray;
    
    border: 2px solid #a8a8a8;
    border-left: none;
    border-right: none;
    
    z-index:-1;
}

video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:-1;
}

/* home page mobile */
@media (max-width: 650px) {

    .home-container {
        position: relative;
        display: auto;
        justify-content: center;
        align-items: center;
    
        z-index: 1;
    }

    .video-background {
        position: relative;
        overflow: hidden;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%; /* edit this percentage value to change the width of the video on the page */
        height: 80%; /* edit this percentage value to change the height of the video on the page */
        background-color: #9c9c9c;
        z-index:-1;
    }

    video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index:-1;
    }
}
/* end background video css */


/* Athletics Page Css*/

.sports-container {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 95%;
    top: 0;
    z-index: 1;
    margin: 1%;
}

.athletics-summary {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 95%;
    top: 15%;

    max-width: 90%;
    height: auto;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: auto;
}

#sportsTitle {
    font-size: 225%;
}

.sports-sections {
    position: relative;
    justify-content: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 1.5%;
    height: auto;
    margin: auto;
    font-size: 95%;
    width: 75%;
    height: auto;
}

#sports-section-text {
    font-size: 170%;
}

.divider {
    position: relative;
    align-self: center;
    border-top: 2px solid rgb(167, 167, 167);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: auto;
    height: auto;
    max-width: 30%;
    width: 25%;

    top: 15%;
    padding: 1.5%;
    margin-bottom: -2%;
}

.mini-divider {
    position: relative;
    align-self: center;
    border-top: 1.5px solid rgb(99, 99, 99);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: auto;
    height: auto;
    width: 25%;
    padding: 2%;
    margin-bottom: -4%;
    margin-top: 1%;
}

.vertical-divider {
    border-left: 1.5px dotted rgb(167, 167, 167);
    width: auto;
    height: auto;
}

.admission {
    display: flex;
    justify-content: center;
    margin-right: 1%;
    margin-bottom: 2%;
}

#gamePrices {
    margin: 1%;
}

#sub-section {
    position: relative;
    justify-content: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 1.5%;
    height: auto;
    margin: auto;
    font-size: 100%;
    min-width: 35%;
    max-width: 45%;
}

/* bottom of page */
.asterisk {
    font-weight: bold;
    font-style: italic;
    color: #696969;
    margin: auto;
    text-align: center;
    justify-content: center;
    bottom: 2%;
}

/* Athletics page mobile */

@media (max-width: 650px) {
    .sports-container {
        overflow: auto;
        font-size: 100%;
    }

    .athletics-summary {
        overflow: auto;
        font-size: 90%;
        height: auto;
        margin: auto;
        max-width: 80%;
        margin-bottom: 3%;
    }

    #sportsTitle {
        font-size: 205%;
    }

    .divider {
        margin: auto;
        height: auto;
        max-width: 70%;
        width: 60%;
    }

    .mini-divider {
        margin: auto;
        height: auto;
        max-width: 70%;
        width: 60%;
        border-top: 1.5px solid rgb(167, 167, 167);
    }

    .vertical-divider {
        border-left: 2px dotted rgb(99, 99, 99);
        height: auto;
    }

    .sports-sections {
        margin: auto;
        height: auto;
        font-size: 95%;
        padding-bottom: 2%;
        max-width: 90%;
    }

    #sports-section-text {
        color: black;
    }

    #sub-section {
        position: relative;
        justify-content: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 1.5%;
        height: auto;
        margin: auto;
        font-size: 90%;
        min-width: 100%;
    }

    .admission {
        margin-left: 4%;
        margin-bottom: 10%;
    }

    #gamePrices {
        margin: 2%;
    }

    /* bottom of page */
    .asterisk {
        font-weight: lighter;
    }
}
/* end athletics page css */

/* Template for pages CSS */
.container{
    display: flex;
    justify-content: space-around;
    }

.left-container {
    float: left;
    border-style: solid;
    border-width: 3px;

}

.middle-container {
    text-align: center;

    }
    

.right-container {
    float: right;
    border-style: solid;
    border-width: 3px;

}