

.Welcome {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
}
.infoiaccess {
width: 700px;
text-align: center;
font-size: large;
}

.wheredoiaccess {
    width: 700px;
text-align: center;
font-size: large;
}

.gainaccess {
    width: 700px;
    text-align: center;
    font-size: large;
}

.four_it_shops {
    width: 700px;
    text-align: center;
    font-size: large;
}

.whatwillilearn_it {
    width: 700px;
    text-align: center;
    font-size: large;
}

.list_of_options {
    font-size: large;
}

.Career_welcome {
text-decoration: underline;
font-size: x-large;
}

#Career_welcome_opening {
    font-size: large;
}

#moreit_info {
    font-size: large;
}

#four_it_shops {
    font-size: medium;
    
}

#gainaccessinfo {
font-size: medium;
}

#wheredoiaccessinfo {
font-size: medium;
}

#infoiaccessinfo {
    font-size: medium;
}



/* header Styles */


.header-container {
    background-color: #00953b;
    padding-bottom: 150px;

    
    padding-top:1px;
    padding-left: 10px;
    
}

.header-img {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
}



.header-links {
    text-align: right;
    float: right;
    position: absolute;
    top: 15px;
    right: 15px;
    
}

.header-h1 {
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    padding-top: 20px;
}







a:link {
    background-color: transparent; 
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    background-color: transparent;
    text-decoration: underline;
}

.header-pages {
    background-color: #333333;
    text-align: center;
    
    
}

/* body Styles */
body {
    margin: 0;
}


/* Footer Styles */
footer {
    display: flex;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    flex-direction: row;
    flex: 1; /* This will make the text-container take up all the available space */
    font-family: helvetica;
}

.flex-container {
    box-sizing: border-box;
    flex-direction: row;

    width: 300px;
    margin:auto;
    clear: both;
    display: table;
    text-align:center;
}

@media (max-width: 600px) {
    footer {
      flex-direction: column;
    }
  }

/* main page */
.whyUs {
    text-align: center;
    width: 400px;
}


.announcements {
    text-align: center;
    width: 250px;
    border: 3px;
    border-style: solid;
    border-color: #00953B;
    background-color: #00953B
}


.quickLinks {
    text-align: center;
    width: 250px;
    border: 3px;
    border-style: solid;
    margin-bottom: 315px;
    border-color: #00953B;
    background-color: #00953B
}

.mainInfo {
    text-align: center;
    width: 250px;
    border-color: #00953B;
    background-color: #00953B;
}





/* athletics home page */
.general {
    border: 3px;
    border-style: solid;
    border-color: #00953B;
    background-color: #00953B;

    width: 400px;
}
